body {
  background-color: bisque
}

h1,
h2 {
  text-align: left;
  color: rgb(95, 93, 93);
  font-family: verdana;
  background-color: rgb(185, 136, 177);


}

img {
  width: 700px;
  height: 500px;

}



footer {
  text-align: center;
  background-color: rgb(185, 136, 177);
}

.middle {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar {
  overflow: hidden;
  background-color: rgb(155, 112, 148);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  margin-top: 30px;
  /* Add a top margin to avoid content overlay */
}