img {
  width: 200px;
  height: 200px;
}

h1 {
  color: white;
}

p {
  color: white;

}

body {
  background-color: rgb(13, 29, 29);

}

.main {

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-decoration: none;


}



.decoration {
  display: block;
  color: white;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 26px 0 26px;
}

section {
  display: flex;
  flex-direction: row;
}


div {
  margin: auto;
  display: inline-block;
  width: 100 px;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#back {
  background: url(image8.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;


}

li {
  color: aliceblue;
}


footer {
  text-align: center;
}

li a {
  color: inherit;
  text-decoration: none;
}

.menu {
  text-decoration: underline;
}



.done{color: aliceblue;

}